.email{
    font-size: 16px;
    margin-bottom: 10px;    
}
.email,.terms{
    color: rgb(89, 89, 89);
    font-family: arial;
    margin-bottom: 0px;
    margin-top: 0px;
}
input{
    width: 400px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 2px;
    border: solid;
    border-color: rgb(100,100,100);
    padding: 7px 0px;
    margin-bottom: 20px;
}
.terms{
    font-size: 16px;
    margin-bottom: 20px;
}
.btn{
    color: white;
    text-align: center;
    background-color: rgb(42, 157, 203);
    border: none;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 130px;
}