.image-container{
    position: relative;
    display: inline-block;
}
.discount{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px 10px;
    font-size: 14px;
}

.overlay{
    background-color: rgba(255, 255, 255, 0.37);
    position: absolute;
    
    height: 30%;

    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-button{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border: solid black 2px;
    padding: 10px 20px;
}